In [1]:
import pandas as pd

In [3]:
kaggle_benchmark = pd.read_csv("all-data.csv",encoding = "ISO-8859-1", header=None)

In [4]:
kaggle_benchmark

             0                                                  1
0      neutral  According to Gran , the company has no plans t...
1      neutral  Technopolis plans to develop in stages an area...
2     negative  The international electronic industry company ...
3     positive  With the new production plant the company woul...
4     positive  According to the company 's updated strategy f...
...        ...                                                ...
4841  negative  LONDON MarketWatch -- Share prices ended lower...
4842   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844  negative  Net sales of the Paper segment decreased to EU...
4845  negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]

In [7]:
kaggle_benchmark = kaggle_benchmark[[0, 1]].rename(columns={0:"label", 1:"text"})
kaggle_benchmark.head()

      label                                               text
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [29]:
def convert_label(label):
    
    if label == 'neutral':
        return 0
    elif label == 'negative':
        return -1
    else:
        return 1
kaggle_benchmark['label'] = kaggle_benchmark['label'].apply(convert_label)

In [30]:
finance_benchmark = pd.read_json('datasetEconomyNews_PN.json')

In [31]:
finance_benchmark.head()

,classification,headlineText,headlineTitle,idx,hour,siteAndDate
0,1,"President Trump said there was a “very, very g...","U.S. and China Extend Talks, but Final Deal Re...",0.0,NaN,NaN
1,1,Despite talk that the dollar was losing domina...,The Dollar Is Still King. How (in the World) D...,1.0,NaN,NaN
2,-1,The Fed released minutes of its January meetin...,Fed Explains Pause as Officials Debate Future ...,6.0,NaN,NaN
3,-1,A proposal to tax wealth finds support across ...,Democrats Want to Tax the Wealthy. Many Voters...,7.0,NaN,NaN
4,1,A decline in residential real estate has led s...,Housing Is Already in a Slump. So It (Probably...,8.0,NaN,NaN

In [32]:
finance_benchmark['text'] = finance_benchmark['headlineTitle'] + '. ' + finance_benchmark['headlineText']
# finance_benchmark['text'] = finance_benchmark['text'].apply(str)
finance_benchmark = finance_benchmark[['classification', 'text']].rename(columns={'classification':"label"})
finance_benchmark.head()

   label                                               text
0      1  U.S. and China Extend Talks, but Final Deal Re...
1      1  The Dollar Is Still King. How (in the World) D...
2     -1  Fed Explains Pause as Officials Debate Future ...
3     -1  Democrats Want to Tax the Wealthy. Many Voters...
4      1  Housing Is Already in a Slump. So It (Probably...

In [67]:
sampled_kaggle = kaggle_benchmark.sample(1000)

In [68]:
concat_df = pd.concat([sampled_kaggle, finance_benchmark])

In [69]:
concat_df.head()

      label                                               text
3980      0                Why not subscribe to the magazine ?
4286     -1  Tornio Works employs 2,300 of whom more than 1...
906       1  The move is aimed at boosting sales , cost-eff...
3356      0     The sellers were the founders of the company .
1178      0  As a result of the merger , the largest profes...

In [70]:
concat_df.label.value_counts()

 0    582
-1    495
 1    485
Name: label, dtype: int64

In [71]:
concat_df = concat_df.drop(concat_df.query('label == 0').sample(100).index)

In [72]:
concat_df.label.value_counts()

-1    494
 1    485
 0    482
Name: label, dtype: int64

In [73]:
concat_df.to_csv('combined_benchmark.csv')